.button_colored {
    background: $color-primary;
    &:hover {
        background: #FDDCC4;
        transition: all 0.3s;
    }
}
.button {
    border-radius: 100px;
    padding: 15px 45px;
    color: $color-button;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.button_border {
    border: 2px solid $color-primary;
    box-sizing: border-box;
    border-radius: 100px;
    background: none;
    &:hover {
        background: #FDDCC4;
        border: 2px solid #FDDCC4;
        transition: all 0.3s;
    }
}
.button_donation {
    display: flex;
    column-gap: 15px;
    padding: 10px 15px;
    background: #F1CDB3;
    border-radius: 9px;
}
.button__pagination {
    height: 52px;
    width: 52px;
    border-radius: 100%;
    cursor: pointer;
}
.icon-next {
    background: url(../../../../../shelter/assets/icons/Arrow_next.png);
}
.icon-back {
    background: url(../../../../../shelter/assets/icons/Arrow_back.png);
}
.icon-slider {
    margin: 10px;
    height: 6px;
    width: 14px;
    display: block;
}
.button_inactive {
    background: none;
    border: 2px solid $color-additional;
    color: $color-additional;
    cursor:auto;
}
