*,
*::after,
*::before {
    box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
p
{
    margin: 0;
    padding: 0;
}
body {
    font-size: 1.5rem;
    font-style: 'Arial';
    margin: 0;
    padding: 0;
}
button {
    border-style: none;
}
html {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
h2,h3,h4 {
    color: $color-text-additional;
}
h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
}

h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;
}

h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: $color-text-additional;
}

h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: $color-text-additional;
}

h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
}

p, a {
    font-family: 'Arial';
    font-size: 1.5rem;
    line-height: 160%;
    color: $color-text-primary;
}