.button_colored {
    background: $color-primary;
}
.button {
    border-radius: 100px;
    padding: 15px 45px;
    color: $color-button;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.button_border {
    border: 2px solid $color-primary;
    box-sizing: border-box;
    border-radius: 100px;
    background: none;
}