.header {
    padding: 40px 0 60px 0;
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;

    li {
        list-style: none;
        padding: 0 35px 0 0;
        .active {
            color: #292929;
            border-bottom: 3px solid $color-primary;
            padding-bottom: 4px;
        }
        a {
            color: $color-text-additional;
            text-decoration: none;

            &:hover {
                color: #292929;
                transition: all 0.3s;
            }
        }
    }
}

.logo-title {
    color: $color-text-additional;
    letter-spacing: 0.06em;
}

.logo-subtitle {
    color: #292929;
    padding: 10px 0 0 0px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}