@font-face {
  font-family: "Georgia";
  src: url("../../../../../shelter/assets/fonts/georgia.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Arial";
  src: url("../../../../../shelter/assets/fonts/arialmt.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Arial";
  src: url("../../../../../shelter/assets/fonts/arial_italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.header {
  padding: 40px 0 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation li {
  list-style: none;
  padding: 0 35px 0 0;
}

.navigation li .active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 4px;
}

.navigation li a {
  color: #CDCDCD;
  text-decoration: none;
}

.navigation li a:hover {
  color: #FAFAFA;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.logo-title {
  color: #F1CDB3;
  letter-spacing: 0.06em;
}

.logo-subtitle {
  color: #ffffff;
  padding: 10px 0 0 0px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.start {
  background: url("../../../../../shelter/assets/images/start-screen-background.jpg "), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-position: center center;
  background-size: cover;
}

.start-screen__content {
  padding: 163px 0 243px 0;
}

.start-screen__content h2 {
  color: #ffffff;
}

.start-screen__content p {
  padding: 42px 0;
  color: #CDCDCD;
}

.start-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start-screen__photo {
  position: relative;
  bottom: -11px;
}

.layout-2-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about-page {
  padding: 90px 0 100px 0;
}

.about-page__text {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}

.pets-title {
  text-align: center;
}

.pets {
  background: #F6F6F6;
  padding: 80px 0 100px 0;
}

.layout-3-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slider {
  padding: 60px 0;
}

.slider__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FAFAFA;
}

.slider__card:hover {
  background: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.3 ease-out;
  transition: all 0.3 ease-out;
}

.slider__card:hover button {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slider-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__button__primary {
  text-align: center;
}

.pets__button__secondary {
  padding-bottom: 30px;
}

.icon {
  width: 60px;
  height: 60px;
  display: block;
}

.icon-food {
  background: url(../../../../../shelter/assets/icons/icon-pet-food.svg);
}

.icon-transport {
  background: url(../../../../../shelter/assets/icons/icon-transportation.svg);
}

.icon-toys {
  background: url(../../../../../shelter/assets/icons/icon-toys.svg);
}

.icon-cups {
  background: url(../../../../../shelter/assets/icons/icon-bowls-and-cups.svg);
}

.icon-shampoos {
  background: url(../../../../../shelter/assets/icons/icon-shampoos.svg);
}

.icon-vitamins {
  background: url(../../../../../shelter/assets/icons/icon-vitamins.svg);
}

.icon-medicines {
  background: url(../../../../../shelter/assets/icons/icon-medicines.svg);
}

.icon-collars {
  background: url(../../../../../shelter/assets/icons/icon-collars-leashes.svg);
}

.icon-area {
  background: url(../../../../../shelter/assets/icons/icon-sleeping-area.svg);
}

.list-help-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 80px 100px 80px;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  row-gap: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help h3 {
  text-align: center;
  padding: 80px 0 60px 0;
}

.item__list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
  text-decoration: none;
}

.donation {
  background: #F6F6F6;
}

.donation-page {
  padding: 80px 0 100px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.content-donation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  width: 32%;
}

.information p {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

.icon-card {
  background: url(../../../../../shelter/assets/icons/credit-card.svg);
  width: 30px;
  height: 23px;
  display: block;
}

.footer {
  background: url(../../../../../shelter/assets/images/footer-background.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  width: 100%;
  background-size: cover;
}

.location {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px 1fr;
      grid-template-columns: 32px 1fr;
}

.footer-content {
  -webkit-column-gap: 160px;
          column-gap: 160px;
  padding-top: 40px;
}

.footer-content h3 {
  color: #ffffff;
}

.footer-content h4 {
  color: #F1CDB3;
}

.icon-contacts {
  width: 40px;
  height: 32px;
  display: block;
}

.icon-location {
  width: 22px;
  height: 32px;
  background-image: url(../../../../../shelter/assets/icons/icon-marker.png);
}

.footer__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
}

.icon_email {
  background: url(../../../../../shelter/assets/icons/icon-email.svg);
}

.icon_phone {
  background: url(../../../../../shelter/assets/icons/icon-phone.svg);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}

.button_colored {
  background: #F1CDB3;
}

.button_colored:hover {
  background: #FDDCC4;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button {
  border-radius: 100px;
  padding: 15px 45px;
  color: #292929;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button_border {
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  background: none;
}

.button_border:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button_donation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;
}

.button__pagination {
  height: 52px;
  width: 52px;
  border-radius: 100%;
  cursor: pointer;
}

.icon-next {
  background: url(../../../../../shelter/assets/icons/Arrow_next.png);
}

.icon-back {
  background: url(../../../../../shelter/assets/icons/Arrow_back.png);
}

.icon-slider {
  margin: 10px;
  height: 6px;
  width: 14px;
  display: block;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.5rem;
  font-style: 'Arial';
  margin: 0;
  padding: 0;
}

button {
  border-style: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

h2, h3, h4 {
  color: #545454;
}

h1 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
}

h2 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
}

h3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  letter-spacing: 0.06em;
}

h4 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
  letter-spacing: 0.06em;
}

h5 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  color: #545454;
  letter-spacing: 0.06em;
}

p, a {
  font-family: 'Arial';
  font-size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */